<!DOCTYPE html>
<html>
<head>
    <title>Fetched Data Display From Pak Wheels</title>
    <!-- Include Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>Fetched Data Display</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Place</th>
                <th>Engine Capacity</th>
                <th>Registered In</th>
                <th>Image</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    <td>{{ item.title }}</td>
                    <td>{{ item.price }}</td>
                    <td>{{ item.place }}</td>
                    <td>{{ item['engine-capacity'] }}</td>
                    <td>{{ item['Registered In'] }}</td>
                    <td><img src="{{ item.image[0] }}" alt="Image" style="max-width: 100px; max-height: 100px;"></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!-- Include Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
